このファイルについて
- about
    - 生の検索履歴データから異常なレコードを除去する前処理を行う
- author: 松永
- Input
    - ../Input_original_data/search_log/csv202xxx/*
- Output
    - ../Input_processed_data/search_records/csv202xxx/*

In [1]:
import os
from functools import reduce
import datetime as dt
import pandas as pd
import cudf
import warnings
warnings.simplefilter('ignore')

### ファイル名などの定数宣言

In [2]:
ORIGIN_DATA_DIR = '../../Input_original_data'
PROCESSED_DATA_DIR = '../../Input_processed_data'

IC_CSV = f'{PROCESSED_DATA_DIR}/road_master/ic_merged.csv'

ORIGIN_SEARCH_LOG_DIR = lambda month: f'{ORIGIN_DATA_DIR}/search_log/csv{month}'
ORIGIN_SEARCH_LOG_CSV_LIST = lambda date: [
                                      f'{ORIGIN_SEARCH_LOG_DIR(date[:6])}/DorapuraSearchLog-{date}.csv', 
                                      f'{ORIGIN_SEARCH_LOG_DIR(date[:6])}/ExternalSvrSearchLog-{date}.csv', 
                                      f'{ORIGIN_SEARCH_LOG_DIR(date[:6])}/SwitchSvrSearchLog-{date}.csv'
                                      ]

PROCESSED_SEARCH_LOG_DIR = lambda month: f'{PROCESSED_DATA_DIR}/search_records/csv{month}'
PROCESSED_SEARCH_LOG_CSV = lambda date: f'{PROCESSED_SEARCH_LOG_DIR(date[:6])}/record_{date}.csv'

SEARCH_LOG_COLNAME = [
    'date', 'start_code', 'start_name', 'end_code', 'end_name', 
    'via1_code', 'via1_name', 'via2_code', 'via2_name', 'via3_code', 'via3_name', 
    'spec_day', 'spec_time', 'spec_type', 'order', 'car_type', 'use_nexco', 'use_urban', 'use_local',
    'language'
]

### 準備

#### 時刻操作系関数

In [3]:
def str2date(date_str, format='%Y%m%d'):
    '''
    文字列形式の日付 => datetime.Dateクラスの日付

    Parameters
    ----------
    date_str: str
    日付
    format: str
    日付文字列の形式

    Returns
    -------
    date: datetime.date
    '''
    date = dt.datetime.strptime(date_str, format).date()
    return date

def str2time(time_str, format='%H:%M'):
    '''
    文字列形式の時刻 => datetime.Timeクラスの時刻
    Parameters
    ----------
    time_str: str
    時刻
    format: str
    時刻文字列の形式

    Returns
    -------
    time: datetime.time
    '''
    time_datetime = dt.datetime.strptime(time_str, format)
    time = time_datetime.time()
    return time

#### ic_code => ic_name のDictを準備

In [4]:
df_ic = pd.read_csv(IC_CSV, dtype={'ic_code': str})
code2name = dict(zip(df_ic['ic_code'], df_ic['ic_name']))
name2code = {name: code for code, name in code2name.items()}

### オリジナルデータ加工 -> CSV

In [5]:
def proc_spec_day(x):
    try:
        # dateに変換できるかどうか確認
        return str2date(x, format='%Y/%m/%d')
    except (ValueError, TypeError) as e:
        # print(e, x)
        return
    
def proc_spec_time(x):
    try:
        # dateに変換できるかどうか確認
        return str2time(x)
    except (ValueError, TypeError) as e:
        print(e, x)
        return


def preprocessing(df):
    # ICコードに”E”が含まれている行を除去
    df = df[df['start_code'].str.contains('E') == False]
    df = df[df['end_code'].str.contains('E') == False]

    # マスタデータに含まれないICコードが誤って記録されている行を除去
    df = df[df['start_code'].apply(lambda c: c in code2name)]
    df = df[df['end_code'].apply(lambda c: c in code2name)]

    # マスタデータに含まれないIC名称が誤って指定されている行を除去
    df = df[df['start_name'].apply(lambda n: n in name2code)]
    df = df[df['end_name'].apply(lambda n: n in name2code)]

    # 指定日に異常な日付が入っている行（e.g. 2021/04/31, 210327）を除去
    df['spec_day'] = df['spec_day'].apply(proc_spec_day)
    df = df[df['spec_day'].notna()]

    # 指定時間が”24:00”となっている行の指定日・指定時間を翌日に繰り上げ
    df['spec_day'] = df['spec_day'].mask(df['spec_time'] == '24:00', df['spec_day'] + dt.timedelta(days=1))
    df.replace({'spec_time': {'24:00': '0:00'}}, inplace=True)

    # 指定時間が"24:12"のように異常な行を除去
    df = df[df['spec_time'].str[:2] != '24']

    # 「指定言語」列を除去
    df.drop('language', axis=1, inplace=True)

    df.reset_index(drop=True, inplace=True)

    return df

In [6]:
# test
df = pd.read_csv(ORIGIN_SEARCH_LOG_CSV_LIST('20230731')[0],
          header=0, names=SEARCH_LOG_COLNAME,
          dtype={'start_code': str, 'end_code': str, 'via1_code': str, 'via2_code': str, 'via3_code': str})
df.head()

,date,start_code,start_name,end_code,end_name,via1_code,via1_name,via2_code,via2_name,via3_code,via3_name,spec_day,spec_time,spec_type,order,car_type,use_nexco,use_urban,use_local,language
0,2023/07/31 00:00:00,5001026,坂出北,5001016,児島,NaN,NaN,NaN,NaN,NaN,NaN,2023/07/30,00:00,1,3,2,1,1,1,0
1,2023/07/31 00:00:00,1080181,滑川,1800066,上里ＳＡ,NaN,NaN,NaN,NaN,NaN,NaN,2023/07/30,13:00,1,2,2,1,1,1,0
2,2023/07/31 00:00:00,1050046,白老,1510021,手稲,NaN,NaN,NaN,NaN,NaN,NaN,2023/07/31,00:00,1,2,2,1,1,1,0
3,2023/07/31 00:00:00,204B006,岩沼,1410036,八戸,NaN,NaN,NaN,NaN,NaN,NaN,2023/07/30,09:00,1,2,2,1,1,1,0
4,2023/07/31 00:00:01,7004011,天保山,7019006,ユニバーサルシティ,NaN,NaN,NaN,NaN,NaN,NaN,2023/07/31,11:00,1,2,4,1,1,1,0

## main

In [10]:
start_date='20230811'
end_date= '20230816'

DAYS = [d.strftime('%Y%m%d') for d in pd.date_range(start_date, end_date, freq='1D')]

dtypes = {
    'start_code': str, 
    'end_code': str,
    'via1_code': str, 
    'via2_code': str,
    'via3_code': str,
}

for d in DAYS:
    df_day = None
    for csv in ORIGIN_SEARCH_LOG_CSV_LIST(d):
        if not os.path.exists(csv):
            continue

        df = pd.read_csv(csv, header=0, names=SEARCH_LOG_COLNAME, dtype=dtypes)
  
        df = preprocessing(df)
        print(os.path.basename(csv), len(df))

        df_day = pd.concat([df_day, df], ignore_index=True, copy=False)

    print('-'*30, f'[{d}] {len(df_day)} records', '-'*30)

    df_day.to_csv(PROCESSED_SEARCH_LOG_CSV(d), index=False)

print('='*40, 'finished', '='*40)

DorapuraSearchLog-20230811.csv 445262
ExternalSvrSearchLog-20230811.csv 7661
------------------------------ [20230811] 452923 records ------------------------------
DorapuraSearchLog-20230812.csv 378206
ExternalSvrSearchLog-20230812.csv 5575
------------------------------ [20230812] 383781 records ------------------------------
DorapuraSearchLog-20230813.csv 373130
ExternalSvrSearchLog-20230813.csv 4936
------------------------------ [20230813] 378066 records ------------------------------
DorapuraSearchLog-20230814.csv 395275
ExternalSvrSearchLog-20230814.csv 4913
------------------------------ [20230814] 400188 records ------------------------------
DorapuraSearchLog-20230815.csv 383966
ExternalSvrSearchLog-20230815.csv 5469
------------------------------ [20230815] 389435 records ------------------------------
DorapuraSearchLog-20230816.csv 389537
ExternalSvrSearchLog-20230816.csv 4686
------------------------------ [20230816] 394223 records ------------------------------
======================================== finished ========================================

In [ ]:
431071 2023/08/11 22:38:02,1100016,国立府中,1101031,甲府昭和,,,,,,,2014/.       ,/),,03:10,1,2,1,1,1,1,0