このファイルについて
- about
    - 検索履歴データから館山道・関越道の各区間の5分単位の検索数を計算する
- author: 松永
- Input
    - ../Input_processed_data/search_records/csv202xxx/*
- Output
    - 時間指定あり検索
        - ../Input_processed_data/search_count/search-count_{tateyama or kannetsu}.csv
    - 時間指定なし検索
        - ../Input_processed_data/search_count/search-count_{tateyama or kannetsu}_unspecified.csv"

In [1]:
import datetime as dt
import os
import pickle
import time
from typing import Dict, List, Optional, Set, Tuple

import networkx as nx
import numpy as np
import pandas as pd
import cudf
# import warnings
# warnings.simplefilter('ignore')

In [2]:
# data directory
DATA_DIR = '../../Input_processed_data'

# IC, 道路情報 csv
IC_CSV = f'{DATA_DIR}/road_master/ic_preprocessed.csv'
IC_NET_CSV = f'{DATA_DIR}/road_master/220303-doronet_ic.csv'
IC_SUBNET_CSV = f'{DATA_DIR}/road_master/icnet_sub.csv'

# 検索ログ csv
SEARCH_LOG_DIR = lambda month: f'{DATA_DIR}/simple_search_records/csv{month}'
SEARCH_LOG_CSV = lambda date: f'{SEARCH_LOG_DIR(date[:6])}/record_{date}.csv'

# 準備

## 道路構造データの読み込み

In [3]:
# モジュール内で前処理済み
df_ic = pd.read_csv(IC_CSV, dtype={'ic_code': str})
df_icnet = pd.read_csv(IC_NET_CSV, dtype={'start_code': str, 'end_code': str, 'road_code': str})
sub_icnet = pd.read_csv(IC_SUBNET_CSV, dtype={'start_code': str, 'end_code': str, 'road_code': str})

code2name = dict(zip(df_ic['ic_code'], df_ic['ic_name']))
name2code = {v: k for k, v in code2name.items()}

ic_graph = nx.from_pandas_edgelist(
    df_icnet, source='start_code', target='end_code',
    edge_attr=['distance', 'road_code', 'direction'], create_using=nx.DiGraph())

In [4]:
# 区間ごとの制限速度を格納したテーブル, Map を作成
df_limits = sub_icnet.loc[:, ['start_code', 'end_code', 'start_name', 'end_name', 'road_code', 'limit']]
limit_dict = {
    (s_code, e_code): lim for s_code, e_code, lim in df_limits.loc[:, ['start_code', 'end_code', 'limit']].values
}

In [5]:
ic_nodes_set: set = set(code2name.keys())

In [6]:
# トラカンデータが持つ区間のdataframe
tc_segments = pd.read_pickle(f'./traffic_counter_segments.pkl')
tc_segments_set = set(
    [tuple(segment) for segment in tc_segments.loc[:, ['start_code', 'end_code']].values]
)

## 最短経路オブジェクト`route_dict`の読み込み・書き出し

In [7]:
fname = './route_dict.pkl'

if os.path.exists(fname): # 経路マップがすでに存在しているとき、それを使う
    with open(fname, 'rb') as f:
        print('Loading IC Routes...')
        route_dict = pickle.load(f)
else: # 存在していなければ計算してバイナリで保存
    print('Calculating IC Routes...')
    route_dict = dict(nx.all_pairs_dijkstra_path(ic_graph, weight='distance'))
    
    with open(fname, 'wb') as f:
        pickle.dump(route_dict, f)
print('Finished.')

Loading IC Routes...
Finished.

In [8]:
! du -h ./route_dict.pkl

3.4G	./route_dict.pkl

## 省略するICの集合を読み込む

In [9]:
with open('small_ic.pkl', 'rb') as f:
    df_small_ic = pickle.load(f)

small_ic_set = set(df_small_ic.ic_code)

# Functions

## 経路計算

In [10]:
def __get_route(
    src: str, dest: str, route_dict: Dict[str, Dict[str, List[str]]]
) -> Optional[List[str]]:
    if not (src in ic_nodes_set and dest in ic_nodes_set):
        return []
    try:
        path = route_dict[src][dest]
        return path
    except: # 経路が存在しない, もしくはノードがグラフ上に存在しない場合
        return []

In [11]:
def get_route(
    src: str, 
    dest: str, 
    route_dict: Dict[str, Dict[str, List[str]]],
    excluded_ic_set: Set[str] = set(),
) -> List[str]:
    '''
    ic_graph上で出発地から目的地までの経路を得る関数

    Parameters
    --------------
    src: 出発ICコード
    dest: 目的ICコード
    '''
    path = __get_route(src, dest, route_dict=route_dict)
    
    if len(excluded_ic_set) > 0:
        path = [ic for ic in path if ic not in excluded_ic_set]
    return path

In [12]:
def get_route_with_time(
    src: str,
    dest: str,
    spec_datetime: dt.datetime,
    spec_type: int,
    route_dict: Dict[str, Dict[str, List[str]]],
    excluded_ic_set: Set[str] = set(),
) -> List[Tuple[str, dt.datetime]]:
    '''
    ic_graph上で出発地（src_name）から目的地（target_name）までの予想通過時刻付き経路を得る関数
    '''
    # 関越道・館山道 以外の道路の移動速度は80km/hと仮定する
    DEFAULT_SPEED = 80
    
    path = __get_route(src, dest, route_dict=route_dict)

    elapsed = dt.timedelta()
    elapsed_time_list = [elapsed]
    for i, (start, end) in enumerate(zip(path, path[1:])):
        dist = ic_graph[start][end]['distance']
        limit_speed = limit_dict.get((start, end), DEFAULT_SPEED)
        
        # 所要時間を積算
        td = dt.timedelta(hours = dist / limit_speed)
        elapsed += td
        elapsed_time_list.append(elapsed)
    
    if spec_type == 1:
        time_list = [spec_datetime + td for td in elapsed_time_list]
    elif spec_type == 2:
        time_list = [spec_datetime - td for td in elapsed_time_list[::-1]]
    else:
        time_list = [spec_datetime + td for td in elapsed_time_list]
    
    result = list(zip(path, time_list))
    if len(excluded_ic_set) > 0:
        result = [(ic, time) for (ic, time) in result if ic not in excluded_ic_set]
    return result

## 検索ログの読み込み

In [13]:
def str2date(date: str, format: str = '%Y%m%d') -> dt.date:
    return dt.datetime.strptime(date, '%Y%m%d').date()

In [14]:
def get_log(date: str) -> cudf.DataFrame:
    type_map = {
        'datetime': np.datetime64,
        'start_code': 'category',
        'end_code': 'category',
        'spec_datetime': np.datetime64,
        'spec_type': 'category',
        'car_type': 'category'
    }
    if not os.path.exists(SEARCH_LOG_CSV(date)):
        return cudf.DataFrame(columns=type_map.keys())

    df = pd.read_csv(SEARCH_LOG_CSV(date)).astype(type_map)
    df = df.loc[
        (df.start_code.isin(ic_nodes_set)) &
        (df.end_code.isin(ic_nodes_set))
    ]
    return cudf.from_pandas(df)

In [15]:
def get_past_logs(date: str, periods: int, include_target: bool = False) -> cudf.DataFrame:
    '''
    指定日(target_date)から過去数日分の検索履歴データを取得する関数

    Parameters
    --------------
    date: 混雑度算出の対象となる日付（文字列 or リスト)
    periods: 過去何日分の履歴を参照するか
    include_target: dateをデータに含めるかどうか
    '''
    # 参照すべき全日付のiterableを生成
    if include_target:
        dt_range = pd.date_range(end=date, periods=periods)
    else:
        dt_range = pd.date_range(end=date, periods=periods+1, closed='left')

    DAYS = [d.strftime('%Y%m%d') for d in dt_range]

    df_specified = cudf.DataFrame()
    for d in DAYS:
        df = get_log(d)
        if len(df) == 0:
            continue
        
        series_spec_date: pd.Series = df.spec_datetime.to_pandas().map(lambda dt: dt.date())
        _df_specified = df.loc[series_spec_date == str2date(date)]
        df_specified = cudf.concat([df_specified, _df_specified], ignore_index=True)
    df_specified.reset_index(drop=True, inplace=True)
    
    if len(df_specified) == 0:
        df_specified = cudf.DataFrame(columns=df.columns)
    return df_specified

In [16]:
def get_unspecified_log(date: str) -> cudf.DataFrame:
    '''
    検索履歴全体から時間指定なしの検索のみを得る関数
    '''
    ALLOWED_MINUTE_LAG = 15
    
    df = get_log(date)
    # 検索日時と指定日時の差を秒単位で算出
    t_diff = abs((df.datetime - df.spec_datetime) / np.timedelta64(1, 's'))
    
    # 事前に定義した時間差（=15分）より検索日時と指定日時の差が少ないレコードのみを抽出
    df_unspecified = df.loc[t_diff < ALLOWED_MINUTE_LAG * 60].reset_index(drop=True)
    return df_unspecified

## 検索ログのマッピング

In [22]:
def map_search_to_road_network(
    df: cudf.DataFrame,
    route_dict: Dict[str, Dict[str, List[str]]],
    excluded_ic_set: Set[str] = set()
) -> cudf.DataFrame:
    '''
    検索ログから各道路区間の予想通過時刻を計算する
    '''
    start_code_list = []
    end_code_list = []
    passing_time_list = []
    
    columns = ['start_code', 'end_code', 'spec_datetime', 'spec_type']
    for (src, dest, spec_datetime, spec_type) in df.loc[:, columns].to_pandas().values:
        path = get_route_with_time(
            src, dest, spec_datetime, spec_type, 
            route_dict=route_dict, 
            excluded_ic_set=excluded_ic_set
        )
        for i, (start, end) in enumerate(zip(path, path[1:])):
            s_code, e_code = start[0], end[0]
            s_ptime = start[-1]
            
            # if ic_graph[s_code][e_code]['road_code'] not in target_road_code_set:
            #     break
            
            start_code_list.append(s_code)
            end_code_list.append(e_code)
            passing_time_list.append(s_ptime)
            
        if spec_type not in {1, 2} and len(path) > 0:
            with open('./error_spec_type_records.csv', 'a') as f:
                print(f'{s_ptime},{src},{dest},{spec_datetime},{spec_type}', file=f)
                


    return cudf.DataFrame({
        'start_code': start_code_list,
        'end_code': end_code_list,
        'passing_time': passing_time_list,
    }).astype({
        'start_code': 'category',
        'end_code': 'category'
    })

In [18]:
def aggregate_search_count(df: cudf.DataFrame, timeslice: str = '5min') -> cudf.DataFrame:
    # 検索量として積算される対象となるカラムを付与
    result = df.assign(search=1)
    
    # timesliceでサンプリングし、検索量の和を取る
    result = (result
              .set_index('passing_time')
              .to_pandas()
              .groupby(['start_code', 'end_code'])
              .apply(lambda g: g['search'].resample(timeslice).sum())
              .reset_index())
    return cudf.from_pandas(result)

# 検索数の作成

## 時間指定あり

In [19]:
period_blocks = [
    # ('20210402', '20210630'),
    # ('20210701', '20210930'),
    # ('20211001', '20211231'),
    # ('20220101', '20220331'),
    # ('20220401', '20220630'),
    # ('20220701', '20220930'),
    # ('20221001', '20221231'),
    # ('20230101', '20230331'),
    # ('20230401', '20230630'),
    # ('20230701', '20230930'),
    # ('20231001', '20231231'),
    # ('20240101', '20240331'),
    # ('20240401', '20240506'),
    ('20240507', '20240831'),
]

In [20]:
past_periods = 7
timeslice = '5min'

In [ ]:
for start_date, end_date in period_blocks:
    print('='*40, f'{start_date} -> {end_date}', '='*40)
    
    DAYS: List[str] = [
        d.strftime('%Y%m%d') for d in pd.date_range(start_date, end_date, freq='1D')
    ]
    
    df_search = cudf.DataFrame()
    for i, date in enumerate(DAYS):
        s = time.time()
        
        df = get_past_logs(date, periods=past_periods)
        
        df_mapped = map_search_to_road_network(
            df, route_dict, excluded_ic_set=small_ic_set
        )
        df_mapped = df_mapped.loc[
            df_mapped.loc[:, ['start_code', 'end_code']].to_pandas().apply(
                lambda segment: tuple(segment) in tc_segments_set, axis=1
            )
        ].reset_index(drop=True)
        
        _df_search = aggregate_search_count(df_mapped, timeslice)
        _df_search = cudf.from_pandas(
            _df_search.set_index('passing_time').to_pandas().loc[date]
        ).reset_index()

        print(f'{date} | {len(_df_search)} records ({time.time() - s:.3f} sec)')

        df_search = cudf.concat([df_search, _df_search], ignore_index=True)

    df_search.reset_index(inplace=True, drop=True)
    OUTPUT_FILE = f'{DATA_DIR}/search_count/search-count_specified_{start_date}-{end_date}.csv'
    df_search.to_pandas().to_csv(OUTPUT_FILE, index=False)

======================================== 20240507 -> 20240831 ========================================
20240507 | 23040 records (32.694 sec)
20240508 | 23040 records (28.920 sec)
20240509 | 23040 records (26.623 sec)
20240510 | 23000 records (36.830 sec)
20240511 | 23040 records (70.903 sec)
20240512 | 23036 records (45.107 sec)
20240513 | 23039 records (29.447 sec)
20240514 | 23037 records (28.042 sec)
20240515 | 23040 records (28.770 sec)
20240516 | 23038 records (27.689 sec)
20240517 | 23040 records (37.276 sec)
20240518 | 23040 records (70.625 sec)
20240519 | 23037 records (41.427 sec)
20240520 | 23039 records (30.226 sec)
20240521 | 23038 records (25.344 sec)
20240522 | 23035 records (26.674 sec)
20240523 | 23034 records (27.105 sec)
20240524 | 23033 records (43.162 sec)
20240525 | 23040 records (66.871 sec)
20240526 | 23031 records (39.153 sec)
20240527 | 22940 records (29.342 sec)
20240528 | 22999 records (18.625 sec)
20240529 | 23010 records (23.532 sec)
20240530 | 22785 records (25.888 sec)
20240531 | 23033 records (29.453 sec)
20240601 | 23040 records (56.464 sec)
20240602 | 23032 records (32.699 sec)
20240603 | 23040 records (27.010 sec)
20240604 | 23018 records (23.861 sec)
20240605 | 23036 records (25.402 sec)
20240606 | 23040 records (24.710 sec)
20240607 | 23019 records (34.170 sec)
20240608 | 23040 records (64.307 sec)
20240609 | 23038 records (35.657 sec)
20240610 | 23026 records (27.840 sec)
20240611 | 23027 records (18.961 sec)
20240612 | 23037 records (24.602 sec)
20240613 | 23020 records (24.822 sec)
20240614 | 23036 records (34.980 sec)
20240615 | 23040 records (61.585 sec)
20240616 | 22994 records (35.119 sec)
20240617 | 23036 records (27.855 sec)
20240618 | 23031 records (23.088 sec)
20240619 | 22963 records (22.734 sec)
20240620 | 22946 records (17.580 sec)

In [33]:
!head -n5 "$OUTPUT_FILE"

passing_time,start_code,end_code,search
2024-05-07 00:00:00,1040013,1040016,6
2024-05-07 00:05:00,1040013,1040016,5
2024-05-07 00:10:00,1040013,1040016,5
2024-05-07 00:15:00,1040013,1040016,3

In [34]:
!tail -n5 "$OUTPUT_FILE"

2024-08-31 23:35:00,1800106,1800111,0
2024-08-31 23:40:00,1800106,1800111,0
2024-08-31 23:45:00,1800106,1800111,6
2024-08-31 23:50:00,1800106,1800111,0
2024-08-31 23:55:00,1800106,1800111,0

## 時間指定なし

In [35]:
period_blocks = [
    # ('20210402', '20210630'),
    # ('20210701', '20210930'),
    # ('20211001', '20211231'),
    # ('20220101', '20220331'),
    # ('20220401', '20220630'),
    # ('20220701', '20220930'),
    # ('20221001', '20221231'),
    # ('20230101', '20230331'),
    # ('20230401', '20230630'),
    # ('20230701', '20230930'),
    # ('20231001', '20231231'),
    # ('20240101', '20240331'),
    # ('20240401', '20240506'),
    ('20240507', '20240831')
]

In [36]:
def aggregate_search_count(df: cudf.DataFrame) -> cudf.DataFrame:
    # 検索量として積算される対象となるカラムを付与
    result = df.assign(search=1)
    
    # timesliceでサンプリングし、検索量の和を取る
    result = (result
              .set_index('passing_time')
              .to_pandas()
              .groupby(['start_code', 'end_code'])
              .apply(lambda g: g['search'].sum())
              .reset_index()
              .rename(columns={0: 'search'}))
    return cudf.from_pandas(result)

In [37]:
def shift_unspecified_search_count(df: pd.DataFrame) -> pd.DataFrame:
    '''
    時間指定なし検索を1日後ろにシフトする
    '''
    SHIFT_DAYS = 1
    
    result = (df.set_index('search_date')
              .groupby(['start_code', 'end_code'])
              .apply(lambda g: g.search.shift(SHIFT_DAYS))
               # shift後にpivot_tableっぽくなってしまう（通常はpd.Series）ため、特別に処理
              .pipe(lambda _df: _df.stack().rename('search') if not isinstance(_df, pd.Series) else _df)
              .reset_index()
              .sort_values(['search_date', 'start_code', 'end_code'])
              .reset_index(drop=True)
              .loc[:, ['search_date', 'start_code', 'end_code', 'search']])
    return result

In [38]:
def generate_date_list_from_1day_before(start_date, end_date):
    '''
    start_dateの1日前からend_dateまでの日付リストを生成する
    '''
    _start = pd.to_datetime(start_date) - pd.Timedelta(days=1)
    _end = pd.to_datetime(end_date)
    
    date_list: List[str] = [
        date.strftime('%Y%m%d') for date in pd.date_range(_start, _end, freq='1D')
    ]
    return date_list

In [41]:
for start_date, end_date in period_blocks:
    print('='*40, f'{start_date} -> {end_date}', '='*40)

    DAYS = generate_date_list_from_1day_before(start_date, end_date)
    
    df_search = cudf.DataFrame()
    for i, date in enumerate(DAYS):
        s = time.time()
        
        df = get_unspecified_log(date)
        
        df_mapped = map_search_to_road_network(
            df, route_dict, excluded_ic_set=small_ic_set
        )
        df_mapped = df_mapped.loc[
            df_mapped.loc[:, ['start_code', 'end_code']].to_pandas().apply(
                lambda segment: tuple(segment) in tc_segments_set, axis=1
            )
        ].reset_index(drop=True)
        
        _df_search = aggregate_search_count(df_mapped)
        _df_search = (_df_search
                      .assign(search_date=str2date(date).strftime('%Y-%m-%d'))
                      .loc[:, ['search_date', 'start_code', 'end_code', 'search']])

        print(f'{date} [{time.time() - s:.3f} sec]')

        df_search = cudf.concat([df_search, _df_search], ignore_index=True)
    
    df_search_shifted = shift_unspecified_search_count(df_search.to_pandas())
    OUTPUT_FILE = f'{DATA_DIR}/search_count/search-count_unspecified_{start_date}-{end_date}.csv'
    df_search_shifted.to_csv(OUTPUT_FILE, index=False)

======================================== 20240507 -> 20240831 ========================================
20240506 [112.187 sec]
20240507 [111.920 sec]
20240508 [84.335 sec]
20240509 [87.117 sec]
20240510 [80.559 sec]
20240511 [69.459 sec]
20240512 [73.126 sec]
20240514 [80.450 sec]
20240515 [85.894 sec]
20240516 [82.985 sec]
20240517 [95.464 sec]
20240518 [85.465 sec]
20240519 [89.311 sec]
20240520 [107.355 sec]
20240521 [97.692 sec]
20240522 [138.904 sec]
20240523 [118.225 sec]
20240524 [99.499 sec]
20240525 [108.959 sec]
20240526 [107.205 sec]
20240527 [123.971 sec]
20240528 [117.700 sec]
20240529 [102.826 sec]
20240530 [107.754 sec]
20240531 [99.434 sec]
20240601 [98.087 sec]
20240602 [98.644 sec]
20240603 [111.006 sec]
20240604 [86.561 sec]
20240605 [72.591 sec]
20240606 [65.898 sec]
20240607 [80.688 sec]
20240608 [63.327 sec]
20240609 [63.237 sec]
20240610 [84.679 sec]
20240611 [76.372 sec]
20240612 [78.177 sec]
20240613 [83.365 sec]
20240614 [73.027 sec]
20240615 [63.392 sec]
20240616 [80.548 sec]
20240617 [75.476 sec]
20240618 [60.980 sec]
20240619 [75.634 sec]
20240620 [58.227 sec]
20240621 [68.580 sec]
20240622 [60.689 sec]
20240623 [56.050 sec]
20240624 [58.177 sec]
20240625 [45.480 sec]
20240626 [38.739 sec]
20240627 [55.547 sec]
20240628 [61.368 sec]
20240629 [52.900 sec]
20240630 [54.810 sec]
20240701 [64.517 sec]
20240702 [69.417 sec]
20240703 [62.051 sec]
20240704 [60.505 sec]
20240705 [60.985 sec]
20240706 [56.042 sec]
20240707 [58.845 sec]
20240708 [65.990 sec]
20240709 [67.172 sec]
20240710 [71.281 sec]
20240711 [69.909 sec]
20240712 [72.181 sec]
20240713 [71.660 sec]
20240714 [57.769 sec]
20240715 [63.809 sec]
20240716 [70.659 sec]
20240717 [69.802 sec]
20240718 [64.630 sec]
20240719 [64.533 sec]
20240720 [64.043 sec]
20240721 [57.778 sec]
20240722 [70.247 sec]
20240723 [72.836 sec]
20240724 [70.042 sec]
20240725 [71.209 sec]
20240726 [73.876 sec]
20240727 [62.805 sec]
20240728 [62.731 sec]
20240729 [81.658 sec]
20240730 [80.506 sec]
20240731 [73.826 sec]
20240801 [71.194 sec]
20240802 [80.345 sec]
20240803 [74.971 sec]
20240804 [70.216 sec]
20240805 [80.796 sec]
20240806 [83.018 sec]
20240807 [79.245 sec]
20240808 [72.084 sec]
20240809 [105.398 sec]
20240810 [115.182 sec]
20240811 [103.251 sec]
20240812 [97.699 sec]
20240813 [112.344 sec]
20240814 [89.166 sec]
20240815 [94.875 sec]
20240816 [102.351 sec]
20240817 [88.348 sec]
20240818 [83.368 sec]
20240819 [99.423 sec]
20240820 [90.668 sec]
20240821 [83.445 sec]
20240822 [91.272 sec]
20240823 [85.868 sec]
20240824 [74.168 sec]
20240825 [68.612 sec]
20240826 [76.724 sec]
20240827 [78.469 sec]
20240828 [76.066 sec]
20240829 [81.659 sec]
20240830 [89.902 sec]
20240831 [77.042 sec]

In [42]:
!head -n5 "$OUTPUT_FILE"

search_date,start_code,end_code,search
2024-05-07,1040013,1040016,8263.0
2024-05-07,1040016,1040013,7474.0
2024-05-07,1040016,1040020,9478.0
2024-05-07,1040020,1040016,7423.0

In [43]:
!tail -n5 "$OUTPUT_FILE"

2024-08-31,1800091,1800096,2903.0
2024-08-31,1800096,1800091,1876.0
2024-08-31,1800096,1800106,2893.0
2024-08-31,1800106,1800096,1879.0
2024-08-31,1800106,1800111,2834.0

# 好きなように期間を分割する

期間のとり方
- 2021/04/01 〜 2022/03/31
- 2022/04/01 〜 2023/03/31
- 2023/04/01 〜 2023/09/30
- 2023/10/01 ~ 2024/03/31（推論補助用）
- 2024/04/01 ~ 2024/05/06（最終評価用）

## 時間指定あり

In [31]:
dtype = {'start_code': 'category', 'end_code': 'category'}

# 時間指定あり
# df1 = pd.read_csv(f'./search_count/search-count_specified_20231001-20231231.csv', dtype=dtype)
# df2 = pd.read_csv(f'./search_count/search-count_specified_20240101-20240331.csv', dtype=dtype)

# df1.passing_time = pd.to_datetime(df1.passing_time)
# df2.passing_time = pd.to_datetime(df2.passing_time)

# 時間指定なし
df1 = pd.read_csv(f'./search_count/search-count_unspecified_20231001-20231231.csv', dtype=dtype)
df2 = pd.read_csv(f'./search_count/search-count_unspecified_20240101-20240331.csv', dtype=dtype)

In [32]:
df1.head(3)

  search_date start_code end_code  search
0  2023-10-01    1040013  1040016  9381.0
1  2023-10-01    1040016  1040013  8807.0
2  2023-10-01    1040016  1040020  9988.0

In [33]:
df1.tail(3)

     search_date start_code end_code  search
7357  2023-12-31    1800096  1800106  2938.0
7358  2023-12-31    1800106  1800096  1692.0
7359  2023-12-31    1800106  1800111  2890.0

In [34]:
df2.head(3)

  search_date start_code end_code  search
0  2024-01-01    1040013  1040016  4997.0
1  2024-01-01    1040016  1040013  4824.0
2  2024-01-01    1040016  1040020  5703.0

In [35]:
df2.tail(3)

     search_date start_code end_code  search
7277  2024-03-31    1800096  1800106  3200.0
7278  2024-03-31    1800106  1800096  2148.0
7279  2024-03-31    1800106  1800111  3148.0

In [36]:
# 2つのデータフレームを1つに結合する
df_new = pd.concat([df1, df2], axis=0)

In [37]:
df_new.head()

  search_date start_code end_code  search
0  2023-10-01    1040013  1040016  9381.0
1  2023-10-01    1040016  1040013  8807.0
2  2023-10-01    1040016  1040020  9988.0
3  2023-10-01    1040020  1040016  8649.0
4  2023-10-01    1040020  1040023  9991.0

In [38]:
df_new.tail()

     search_date start_code end_code  search
7275  2024-03-31    1800091  1800096  3214.0
7276  2024-03-31    1800096  1800091  2140.0
7277  2024-03-31    1800096  1800106  3200.0
7278  2024-03-31    1800106  1800096  2148.0
7279  2024-03-31    1800106  1800111  3148.0

In [45]:
# ソート（時間指定あり）
# df_new = df_new.sort_values(
#     ['start_code', 'end_code', 'passing_time']
# ).reset_index(drop=True)

# ソート（時間指定なし）
df_new = df_new.sort_values(
    ['search_date', 'start_code', 'end_code']
).reset_index(drop=True)

In [46]:
# データフレーム長が一致することを検証
assert len(df1) + len(df2) == len(df_new)

In [47]:
# 時間指定あり
# file_out = f'./search_count/search-count_specified_20231001-20240331.csv'

# 時間指定なし
file_out = f'./search_count/search-count_unspecified_20231001-20240331.csv'

In [48]:
%time df_new.to_csv(file_out, index=False)

CPU times: user 45.6 ms, sys: 7.37 ms, total: 52.9 ms
Wall time: 51.8 ms